@import "~bootstrap/scss/bootstrap";
$reindeer-red: red;
$text-forefront: white;

.my-4 {
    background-color: $text-forefront;
}

.bg_primary-color {
    background-color: $text-forefront;
}
.primary-color {
    background-color: black;
}
.bg_secondary-color {
    background-color: $text-forefront;
}
.secondary-color {
    color: $text-forefront;
}
.custom-button {
    &.btn {
        background-color: $reindeer-red;
        color: #fff;
        border: none;

        &:hover {
            color: black;
            border: none;
        }
    }
}
.hero {
    width: 100vw;
    height: 50vh;
}
.hero img {
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
}
.overlay {
    height: 100%;
    width: 100%;
    opacity: 0.4;
}
